{% extends 'customer/customer_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head> -->
<body>
  

{% block header %}
<link href="{% static 'css/cus_changepass.css' %}" rel="stylesheet">

{% endblock %}





{% block content %}

    <div class="mainDiv">
  <div class="cardStyle">
    <form action="" method="POST">
      {% csrf_token %}
      
      <img src="{% static 'images/change.png' %}" id="signupLogo" width="100px" height="100px">
      
      <h2 class="formTitle">
        Secure your account
      </h2>

    <div class="inputDiv">
       <label class="inputLabel" for="confirmPassword"><b> Current Password </b></label>
       <input type="password" id="confirmPassword" name="current_pass">
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="password"><b> New Password </b></label>
      <input type="password" id="password" name="new_pass" required>
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword"><b> Confirm Password</b> </label>
      <input type="password" id="confirmPassword" name="confirm_pass">
    </div><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <center><button type="submit" class="registerbtn">UPDATE PASSWORD</button></center> 
  </form>
  </div>
</div>
{% endblock %}
</body>
</html>