{% extends 'seller/seller_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block header %}
<link href="{% static 'css/sellproedit.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}


<div class="col-lg-6" style="margin-left: 500px; color:rgb(24, 34, 31);" ><br /><br />
                
    <h2 style="color: rgb(39, 119, 95);" ><b><i>EDIT HERE</i></b></h2><br /><br />
   
    <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label "><b>NAME</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br />
        <label for="exampleFormControlInput2" class="form-label"><b>EMAIL</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br />
        <label for="exampleFormControlInput2" class="form-label"><b>ADDRESS</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br />
        <label for="exampleFormControlInput2" class="form-label"><b>PHONE NO</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br />
        
        <label for="exampleFormControlInput2" class="form-label"><b> Upload your image </b></label> 
            <input type="file" id="exampleFormControlInput1" name="filename">
            <input type="submit"><br />

        
        <center><br />
        <button type="button" class="registerbtn" style="width: 30%;">EDIT </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        </center>
        <br /><br />
       
       </div>
  
</div>

{% endblock %}
</body>
</html>