{% extends 'seller/seller_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    {% block header %}
    <link href="{% static 'css/updatestock.css' %}" rel="stylesheet">

{% endblock %}
    
{% block content %} 
<div class="col-lg-6" style="margin-left: 500px; color:rgb(24, 34, 31);"><br />
                
    <h2 style="color: rgb(20, 69, 54);" ><b><i>UPDATE STOCK</i></b></h2><br />
   
    <div class="mb-5">
        <label for="stock"><b> PRODUCT NUMBER</b></label>

        <select name="PRODUCT" id="num">
        <option value="">1001</option>
        <option value="saab">1002</option>
        <option value="mercedes">1003</option>
        <option value="audi">1004</option>
        </select><br /><br />
        <label for="exampleFormControlInput2" class="form-label"><b>CURRENT STOCK</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br />
        <label for="exampleFormControlInput2" class="form-label"><b>NEW STOCK</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br /> 
        
        <center><br />
            <button type="" class="registerbtn" style="width: 30%;">UPDATE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </center>
            <br /><br />
        </div>
      </div>   
      {% endblock %}
</body>
</html>