.gradient-custom {
    /* fallback for old browsers */
    background: #84f5cf;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(78, 238, 185), rgb(26, 194, 149));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(157, 232, 206), rgb(26, 194, 149))
    }