.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    background-color:rgb(53, 190, 128);
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: rgb(5, 111, 74);
    padding: 36px;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(76, 218, 151, 0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: rgb(16, 11, 11);
  margin-bottom: 6px;
  margin-top: 24px;
}
.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}

.registerbtn{  
    background-color: rgb(6, 46, 23);  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 50%;  
    opacity: 0.9; 
    border-radius: 20px;
  }  
  .registerbtn:hover{  
    opacity: 1;  
  } 
